@font-face {
    font-family: 'BravoRGRegular';
    font-style: normal;
    font-weight: 400;
    src: local('BravoRGRegular'), local('BravoRGRegular'),
         url('../fonts/BravoRGRegular.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
         url('../fonts//BravoRGRegular.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}

@font-face {
    font-family: 'ceremoniousone';
    font-style: normal;
    font-weight: 400;
    src: local('ceremoniousone'), local('ceremoniousone'),
         url('../fonts/ceremoniousone.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
         url('../fonts//ceremoniousone.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}

@font-face {
    font-family: 'PFDin';
    font-style: normal;
    font-weight: 500;
    src: local('PFDin-medium'), local('PFDin-medium'),
         url('../fonts/pfd-medium.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
         url('../fonts/pfd-medium.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}

@font-face {
    font-family: 'PFDin';
    font-style: normal;
    font-weight: 400;
    src: local('PFDin-regular'), local('PFDin-regular'),
         url('../fonts/pfd-regular.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
         url('../fonts//pfd-regular.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}

body {
    font-family: 'PT Sans', sans-serif;
}

.page {
    padding: 75px 0px 0px 0px;
    flex: 1 1 auto;
}

.wrapper {
    width: 100%;
    min-height: 100%;
    overflow: hidden;
    display: flex;
    flex-direction: column;
}

._container {
    max-width: 970px;
    margin: 0 auto;
    padding: 0 10px;
}

/*Header */
.header {
    background-color: #1c242a;
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;
    z-index: 50;
}

.header__container {
    position: relative;
    max-width: 970px;
    padding: 0 10px;
    margin: 0 auto;
    display: flex;
    align-items: center;
    height: 75px;
}

.header__logo {
    width: 144px;
    z-index: 51;
}

.header__menu {
    flex: 1 1 auto;
    padding: 0px 0px 0px 30px/950px *100%;
}

.menu__list {
    display: flex;
    justify-content: center;
}

.menu__list li {
    margin:  0px 15px;
}

.menu__link {
    color: #fff;
    letter-spacing: 1.4px;
    font-family: PFDin;
    text-transform: uppercase;
}

.menu__link:hover {
    text-decoration: underline;
}

.actions-header {
    display: flex;
    align-items: center;
}

.actions-header__region-mobile {
    display: none;
    color: #fff;
    position: relative;
    z-index: 2;
    letter-spacing: 1.4px;
    font-family: PFDin;
    min-width: 18px;
    min-height: 18px;
    text-transform: uppercase;
    line-height: 18px;
    padding: 0px 0px 0px 30px;
    background: url('../img/globe.png') left no-repeat;
    cursor: pointer;
}

.actions-header__region {
    color: #fff;
    position: relative;
    z-index: 2;
    letter-spacing: 1.4px;
    font-family: PFDin;
    min-width: 18px;
    min-height: 18px;
    text-transform: uppercase;
    line-height: 18px;
    padding: 0px 0px 0px 30px;
    background: url('../img/globe.png') left no-repeat;
    cursor: pointer;
}

.actions-header__region:hover {
    text-decoration: underline;
}

.action-header__user{
    margin:  0px 0px 0px 30px;
}

.user-header__icon {
    position: relative;
    z-index: 2;
    cursor: pointer;
}

.user-header__menu {
    opacity: 0;
    visibility: hidden;
    position: absolute;
    top: 88px;
    right: 0;
    background-color: #1c242a;
    padding: 20px;
    transition: all 0.4s ease 0s;
    min-width: 176px;
}

._active {
    opacity: 1;
    visibility: visible;
    top: 78px;
    z-index: 3;
}

.user-header__menu li {
    margin: 0px 0px 8px 0px;
}

.user-header__menu li:last-child {
    margin: 0;
}

.user-header__link {
    color: #fff;
    padding: 0px 0px 0px 30px;
    display: inline-block;
    line-height: 19px;
}

.user-header__link:hover {
    text-decoration: underline;
}

.user-header__link_1 {
    background: url('../img/small-globe.png') 1px center no-repeat;
}

.user-header__link_2 {
    background: url('../img/Ellipse_8.png') left center no-repeat;
}

.user-header__link_3 {
    background: url('../img/palm.png') 4px  center no-repeat;
}

.user-header__link_4 {
    background: url('../img/hammer.png') left center no-repeat;
}

/*Slider*/
/*==============================================================================*/
._ibg {
    position: relative;
    overflow: hidden;
}

._ibg img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.main-slider {
    position: relative;
}

.item-main-slider__content {
    position: relative;
    z-index: 2;
}

.item-main-slider {
    text-align: center;
    padding: 30px 0px 100px 0px;
    position: relative;
}

.item-main-slider__bg {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
}

.title {
    text-align: center;
}

.title__item {
    font-family: "ceremoniousone";
    color: #bb9c66;
    font-size: 40px;
    margin: 0px 0px 30px 0px;
}

.title__main {
    font-size: 35px;
    letter-spacing: 5.25px;
    text-transform: uppercase;
    font-family: "PFDin";
    font-weight: 500;
    line-height: calc(30px/45px);
}

.title__main_regular {
    color: #fff;
    font-weight: 400;
}

.title__text {
    max-width: 700px;
    margin: 25px auto 0px auto;
    color: #fff;
    font-size: 15px;
    line-height: calc(25/15);
}
/*Button*/

.item-main-slider__btn {
    margin: 55px 0px 0px 0px;
}

.btn {
    display: inline-block;
    position: relative;
}

.btn::after,
.btn::before {
    position: absolute;
    left: 0;
    height: 3px;
    width: 100%;
    content: "";
}

.btn::before {
    top: 0;
    background-color: #c3a774;
}

.btn::after {
    bottom: 0;
    background-color: #8f6630;
}

.btn_big {
    margin: 0px 48px;
}

.btn_big .btn__body span {
    font-size: 21px;
    padding: 0 25px;
    color: #000;
    font-weight: 500;
    letter-spacing: 0px;
}

.btn__body::after,
.btn__body::before {
    content: "";
    position: absolute;
    top: 0;
    width: 3px;
    height: 100%;
    background-image: linear-gradient(to top, #8f6630, #c3a774);
}

.btn__body::before {
    left: 0;
}

.btn__body::after {
    right: 0;
}

.btn__body span {
    min-height: 50px;
    padding: 0px 50px;
    font-family: "PFDin";
    letter-spacing: 2px;
    color: #fff;
    font-size: 15px;
    text-transform: uppercase;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
}

.btn__body span::after {
    content:  "";
    height: 50%;
    transition: all 0.4s ease 0s;
    opacity: 0.06;
    background-image: linear-gradient(to top, #bb9c66 0%, rgba(187, 156, 102, 0) 100%);
    top: 0;
    left: 0;
    position: absolute;
    width: 100%;
}

.btn__body:hover span::after {
    opacity: 0.3;
    height: 100%;
}

/*Slider control*/
/*==============================================================================*/
.main-slider__control {
    position: absolute;
    left: 50%;
    bottom: 0;
    width: 100px;
    height: 100px;
    transform: translate(-50%, 50%);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 3;
}

.main-slider__control::after {
    content: "";
    background-color: #fff;
    position: absolute;
    width: 70%;
    height: 70%;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) rotate(-45deg);
}

.control-main-slider__decor {
    position: relative;
    z-index: 2;
    margin: 0px 12px;
    animation: rotate 5s infinite linear;
}

.control-main-slider__arrow {
    position: relative;
    z-index: 2;
    background: url("../img/arrow-left.png") 0 0 no-repeat;
    width: 14px;
    height: 24px;
    cursor: pointer;
}

.control-main-slider__arrow-next {
    transform: rotate(-180deg);
}

@keyframes rotate {
    0% {

    }
    100% {
        transform: rotate(360deg);
    }
}

/*Lots*/
/*Lots Title*/
.lots {
    padding: 85px 0px 63px 0px;
}
.lots__header {
    margin: 0px 0px 40px 0px;
}
/*Decor*/
.block-header__title {
    margin: 0px 0px 20px 0px;
}

.title__main_w {
    color: #fff;
}

.block-decor {
    display: flex;
    align-items: center;
}

.block-decor__items {
    flex: 1 1 auto;
    display: flex;
    align-items: center;
}

.block-decor__items::before {
    content: "";
    height: 1px;
    flex: 1 1 auto;
    background-color: #bb9c66;
}

.block-decor__items::after {
    content: "";
    height: calc(25px*0.72);
    flex: 0 0 calc(25px*0.72);
    border: 1px solid #bb9c66;
    transform: rotate(45deg);
    margin: 0px 5px;
}

.block-decor__items span {
    display: flex;
    align-items: center;
    margin: 0px 5px;
}

.block-decor__items span::before {
    content: "";
    flex: 0 0 10px;
    width: 10px;
    height: 10px;
    border-radius: 50%;
    border: 1px solid #bb9c66;
    margin: 0px 5px;
}

.block-decor__items span::after {
    content: "";
    flex: 0 0 calc(15px*0.72);
    width: calc(15px*0.72);
    height: calc(15px*0.72);
    border: 1px solid #bb9c66;
    transform: rotate(45deg);
}

.block-decor__items:last-child {
    flex-direction: row-reverse;
}

.block-decor__items:last-child span {
    flex-direction: row-reverse;
}

.block-decor__icon {
    text-align: center;
    flex: 0 0 145px;
}

.block-decor__icon img {
    max-width: 70px;
}
/*Lots Body*/

.control-slider-lots {
    display: flex;
    justify-content: center;
    align-items: center;
}

.control-slider-lots__arrow {
    display: flex;
    align-items: center;
    cursor: pointer;
    overflow: hidden;
    justify-content: flex-end;
}

.control-slider-lots__arrow span {
    background: url("../img/lots/sl-arrow.svg") left no-repeat;
    flex: 0 0 108px;
    width: 108px;
    height: 35px;
}

.control-slider-lots__arrow:last-child {
    flex-direction: row-reverse;
}

.control-slider-lots__arrow:last-child span {
    transform: rotate(-180deg);
}

.control-slider-lots__arrow::after {
    content: "";
    width: 15px;
    height: 15px;
    margin: 0px 5px;
    border: 1px solid #bb9c66;
    border-radius: 50%;
}

.control-slider-lots__link {
    background: url("../img/lots/circle.png") 0 0 no-repeat;
    flex: 0 0 100px;
    height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 21px;
    color: #000;
    font-family: 'PFDin';
    font-weight: 500;
    text-transform: uppercase;
    margin: 0px 20px;
}
/*Lot item*/

.lot {
    display: flex;
    flex-direction: column;
    height: 100%;
    text-align: center;
}

.slider-lots__body {
    display: flex;
    margin: 0px 50px 50px 0px;
}

.swiper-slide {
    margin: 0px;
}

.slider-lots__body .swiper-wrapper {
    align-items: stretch;
    height: auto;
}


.slider-lots__slide .swiper-wrapper {
    align-items: stretch;
}

.lot__header {
    text-align: center;
    margin: 0px 0px 30px 0px;
    position: relative;
}

.lot__image {
    display: block;
    border: 3px solid #bb9c66;
}

.timer-lot {
    transform: translate(-50%, 50%);
    width: 72px;
    height: 72px;
    display: inline-flex;
    align-items: center;
    flex-direction: column;
    position: relative;
    padding: 2px 0px 0px 0px;
    position: absolute;
    left: 50%;
    bottom: 0;
}

.timer-lot div {
    position: relative;
    z-index: 2;
}

.timer-lot::before {
    content: "";
    background-color: #fff;
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0px;
    left: 0px;
    transform: rotate(-45deg);
}

.timer-lot__icon {
    margin: 0px 0px 5px 0px;
}

.timer-lot__item {
    font-size: 18px;
}

.lot__title {
    font-size: 21px;
    font-weight: 500;
    color: #000;
    line-height: calc(25/21);
    text-transform: uppercase;
    font-family: 'PFDin';
    flex: 1 1 auto;
    position: relative;
    z-index: 2;
    margin-bottom: 27px;
}

.lot__title:hover {
    text-decoration: underline;
}

.info-lot {
    display: flex;
    justify-content: center;
    margin: 0px 0px 35px 0px;
}

.info-lot__statistic {
    flex: 0 0 50px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.info-lot__icon {
    width: calc(25px * 0.72);
    height: calc(25px * 0.72);
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    margin: 0px 0px 10px 0px;
}

.info-lot__icon img {
    position: relative;
    z-index: 2;
}

.info-lot__icon::after {
    content: "";
    width: 100%;
    height: 100%;
    transform: rotate(-45deg);
    background-color: #000;
    position: absolute;
}

.info-lot__value {
    font-size: 14px;
    padding: 0px 0px 5px 0px;
    position: relative;
}

.info-lot__value::after {
    content: "";
    width: 50px;
    height: 1px;
    background-color: #bb9c66;
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translate(-50%, -50%)
}

.info-lot__current-bet {
    flex: 1 1 auto;
}

.current-bet-info-lot {
    padding: 0px 5px;
    position: relative;
}

.current-bet-info-lot div {
    position: relative;
    z-index: 2;
}

.current-bet-info-lot::after {
    content: "";
    position: absolute;
    width: 72px;
    height: 72px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) rotate(-45deg);
    border: 1px solid #bb9c66;
}

.current-bet-info-lot__label {
    margin: 0px 0px 5px 0px;
}

.current-bet-info-lot__value {
    font-family: "BravoRGRegular";
    font-size: 50px;
    white-space: nowrap;
}

/*Categories*/
/*================================================================================*/
/*Cotegories content*/
.categories {
    margin: 0px 0px 70px 0px;
}

.categories__container {
    overflow: hidden;
    position: relative;
}

.categories__items {
    margin: 0px 0px 85px 0px;
}

.categories__container::after {
    content: "";
    position: absolute;
    bottom: 0;
    height: 45px;
    background-color: #fff;
    width: 100%;
}

.item {
    position: relative;
    padding: 30px 30px 40px 30px;
    text-align: center;
    height: 250px;
    width: 250px;
    border-radius: 50%;
    overflow: hidden;
    display: flex;
    align-items: center;
    flex-direction: column;
}

.item:hover .item__bg{
    transform: scale(1.1);
}

.item__link {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    z-index: 5;
    border-radius: 50%;
}

.item__icon {
    position: relative;
    z-index: 2;
    margin: 0px 0px 22px 0px;
}

.item__title {
    position: relative;
    z-index: 2;
    line-height: calc(25/21);
    color: #fff;
    font-size: 21px;
    text-transform: uppercase;
    font-family: 'PFDin';
    font-weight: 500;
    flex: 1 1 auto;
    letter-spacing: 2.1px;
}

.item__decor {
    text-align: center;
    position: relative;
    z-index: 2;
}

.item__bg {
    transition: 0.8s ease 0s;
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
}

.item__bg::after {
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.7);
}
/*Cotegories columns*/
.categories__row {
    display: flex;
    flex-wrap: wrap;
    margin: 0px -50px 0px;
    padding: 37px 0px 0px 0px;
    position: relative;
}

.categories__row::after,
.categories__row::before {
    content: "";
    position: absolute;
    width:calc(24px * 0.72);
    height: calc(24px * 0.72);
    flex: 0 0 calc(24px * 0.72);
    border: 1px solid #bb9c66;
    transform: rotate(-45deg) translate(-50%, 0px);
} 

.categories__row::before {
    top: 0;
    left: 33.133%;
}

.categories__row::after {
    top: 0;
    left: 66.566%;
}

.categories__column {
    padding: 0px 50px 25px;
    flex: 0 1 33.333%;
    margin: 0px 0px 25px 0px;
    position: relative;
    display: flex;
    justify-content: center;
}

.categories__column::before {
    content: "";
    background-color: #bb9c66;
    width: 10px;
    height: 10px;
    border-radius: 50%;
    flex: 0 0 10px;
    position: absolute;
    left: 50%;
    bottom: -5px;
    transform: translate(-50%, 0);
}

.categories__decor {
    position: absolute;
    right: 0;
    top: 0;
    width: 24px;
    z-index: 5;
    transform: translate(50%, 0px);
    height: calc(100% + 9px);
    display: flex;
    align-items: center;
    flex-direction: column;
}

.categories__decor span {
    display: flex;
    flex-direction: column;
    align-items: center;
    flex: 1 1 auto;
}

.categories__decor span::before {
    content: "";
    background-color: #bb9c66;
    width: 10px;
    height: 10px;
    border-radius: 50%;
    flex: 0 0 10px;
    margin: 20px 0px;
}

.categories__decor span::after {
    content: "";
    background-color: #bb9c66;
    width: 1px;
    flex: 1 1 auto;
}

.categories__decor::before {
    content: "";
    background-color: #bb9c66;
    width: 1px;
    flex: 1 1 auto;
}

.categories__decor::after {
    content: "";
    width:calc(24px * 0.72);
    height: calc(24px * 0.72);
    flex: 0 0 calc(24px * 0.72);
    border: 1px solid #bb9c66;
    transform: rotate(-45deg);
    margin: 15px 0px 0px 0px;
}
/*Categories text*/

.text-categories {
    color: #333333;
    font-size: 15px;
    line-height: calc(25/15);
}

.text-categories p {
    margin: 0px 0px 25px 0px;
}

.text-categories p:last-child {
    margin: 0px 0px 0px 0px;
}

.text-categories__body {
    padding: 10px 0px 25px 130px;
    background: url('../img/categories/decor.png') left top repeat-y;
    position: relative;
}

.text-categories__body::before {
    content:  "";
    background: url('../img/categories/decor_header.png') left top no-repeat;
    position: absolute;
    top: -6px;
    left: 0;
    height: 12px;
    width: 85px;
}
/*Services*/
/*=================================================================================*/
.services {
    padding: 60px 0px 60px 0px;
    background-color: #1c242a;
}

.services__header {
    margin: 0px 0px 40px 0px;
}

.services__row {
    margin: 0px -50px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.services__column {
    padding: 0px 50px;
    flex: 0 1 33.333%;
    margin: 0px 0px 40px 0px;
}

.service {
    height: 100%;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.service__image {
    height: 205px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0px 0px 10px 0px;
}

.service__title {
    flex: 1 1 auto;
    font-family: "PFDin";
    font-size: 21px;
    font-weight: 500;
    line-height: calc(25/21);
    text-transform: uppercase;
    color: #fff;
    letter-spacing: 1.1px;
}

.service__text {
    color: #bb9c66;
    font-size: 15px;
    line-height: calc(25/15);
    max-height: 50px;
    overflow: hidden;
    margin: 23px 0px 0px 0px;
}

.service__btn {
    position: relative;
    font-family: "PFDin";
    font-size: 21px;
    font-weight: 500;
    color: #fff;
    letter-spacing: 2.1px;
    text-align: center;
    text-transform: uppercase;
    margin: 30px 0px 0px 0px;
}

.service__btn::before {
    content: "";
    position: absolute;
    background-color: #bb9c66;
    height: 1px;
    width: 100%;
    top: 50%;
    left: 0;
}

.service__btn span {
    background-color: #1c242a;
    position: relative;
    z-index: 2;
    padding: 0px 15px;
}
/*Quotes*/
/*=================================================================================*/
.quotes {
    padding: 64px 0px 75px 0px;
}

.slider-quotes__body {

}

.slider-quotes__slide {
    display: flex;
    align-items: center;
    opacity: 0 !important;
}

.swiper-slide-active {
    opacity: 1 !important;
}

.slider-quotes__image {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0px 20px;
    flex: 0 0 33.6%;
} 

.slider-quotes__image img {
    max-width: 100%;
}

.slider-quotes__content {
    flex: 0 1 515px;
}

.slider-quotes__title {
    font-size: 25px;
    line-height: calc(30/25);
    font-style: italic;
    margin: 0px 0px 19.2px 0px;
}

.slider-quotes__info {
    color: #1c242a;
    font-size: 15px;
}

.slider-quotes__info p {
    margin: 0px 0px 7px 0px;
}

.slider-quotes__info p:last-child {
    margin: 0px 0px 0px 0px;
}

.control-slider-quotes {
    display: flex;
    justify-content: center;
    align-items: center;
    max-width: 400px;
    margin: 0 auto;
}

.control-slider-quotes__decor {
    flex: 0 1 33.333%;
    display: flex;
    align-items: center;
}

.control-slider-quotes__decor::before {
    content: "";
    flex: 1 1 auto;
    height: 1px;
    background-color: #bb9c66;
}

.control-slider-quotes__decor::after {
    content: "";
    margin: 0px 0px 0px 5px;
    width: 10px;
    height: 10px;
    border: 1px solid #bb9c66;
    border-radius: 50%;
}

.control-slider-quotes__decor:last-child {
    flex-direction: row-reverse;
}

.control-slider-quotes__decor:last-child::after {
    margin: 0px 5px 0px 0px;
}

.control-slider-quotes__link {
    text-align: center;
    flex: 0 1 33.333%;
}

.control-slider-quotes__circle {
    display: inline-flex;
    width: 50px;
    height: 50px;
    border: 1px solid #bb9c66;
    border-radius: 50%;
    cursor: pointer;
    background: url("../img/quotes/circle.png") center no-repeat;
}
/*Info*/
/*=================================================================================*/
.info {
    padding: 0px 0px 75px 0px;
}

.info__row {
    display: flex;
    margin: 0px -22px;
    flex-wrap: wrap;
}

.info__column {
    flex: 0 1 50%;
    padding: 0px 22px;
    margin: 0px 0px 55px 0px;
}

.info__column:last-child {
    flex: 1 1 100%;
    margin: 0;
}

.title__info {
    display: flex;
    align-items: center;
    font-size: 35px;
    font-family: "PFDin";
    font-weight: 500;
    letter-spacing: 3.5px;
    text-transform: uppercase;
    margin: 0px 0px 30px 0px;
}

.title__info span:first-child {
    padding: 0px 15px 0px 0px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.info__item {
    margin: 0px 0px 30px 0px;
}

.info__date {
    color: #bb9c66;
    font-size: 12px;
    margin: 0px 0px 5px 0px;
}

.info__label {
    font-size: 15px;
    color: #333333;
    font-weight: 700;
    text-decoration: underline;
    display: inline-block;
    margin: 0px 0px 5px 0px;
}

.info__text {
    font-size: 15px;
    line-height: calc(21/15);
}

.subscribe__body {
    display: flex;
    margin: 0px -22px;
}

.subscribe__column {
    padding: 0px 22px;
    flex: 0 1 50%;
}

.subscribe__text {
    font-size: 15px;
    line-height: calc(21/15);
}

.form-subscribe {
    height: 50px;
    border: 3px solid #bb9c66;
    background-color: #fff;
    display: flex;
}

input[type="text"],
input[type="email"],
input[type="tel"] {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
}


.input {
    border-radius: 0 !important;
    width: 100%;
    color: #4f4f4f;
    height: 100%;
    font-size: 15px;
    display: block;
    padding: 0px 25px;
}

.input:focus {
    color: #000;
}

.form-subscribe__input {
    flex: 1 1 auto;
}

.form-subscribe__btn {
    position: relative;
    flex: 0 0 95px;
    background-color: transparent;
}

.form-subscribe__btn::before {
    content: "";
    position: absolute;
    left: 0;
    top: 50%;
    transform: translate(0px, -50%);
    width: 1px;
    height: 32px;
    background-color: #bb9c66;
}

.form-subscribe__btn span {
    background: url("../img/info/arrow.png") right no-repeat;
    padding: 0px 32px 0px 0px;
    color: #1c242a;
    font-family: "PFDin";
    font-size: 21px;
    font-weight: 500;
    text-transform: uppercase;
    letter-spacing: 2.12px;
}
/*Footer*/
/*=================================================================================*/
.footer {
    padding: 45px 0px;
    background-color: #1c242a;
}

.footer__content {
    display: flex;
}

.footer__column {

}

.footer__column:first-child {
    flex: 0 0 180px;
}

.footer__column_full {
    flex: 1 1 auto;
}

.footer__logo {
    display: inline-block;
    margin: 0px 0px 25px 0px;
}

.footer__info {
    color: #bb9c66;
}

.footer__menu {
    padding: 0px 30px 0px 30px;
}

.footer__list {
    display: flex;
    flex-wrap: wrap;
}

.footer__list li {
    margin: 15px 15px 0px 0px;
}

.footer__link {
    font-family: "PFDin";
    font-size: 14px;
    font-weight: 500;
    color: #fff;
    text-transform: uppercase;
    letter-spacing: 1.4px;
}

.footer__link:hover {
    text-decoration: underline;
}

.footer__phone {
    white-space: nowrap;
    display: flex;
    align-items: flex-start;
    color: #bb9c66;
    font-family: "BravoRGRegular";
    font-size: 50px;
    text-transform: uppercase;
}

.footer__contacts {
    text-align: right;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    padding: 12px 0px 0px 0px;
}

.footer__phone small {
    margin: 2px 5px 0px 0px;
    font-size: 25px;
}

.footer__callback {
    color: #bb9c66;
    background: url("../img/callback.png") left no-repeat;
    padding: 0px 0px 0px 12px;
}

.footer__callback span {
    border-bottom: 1px dashed;
}

.small {
    display: none;
}
/*Media*/
/*=================================================================================*/
@media (max-width: 450px){
    .control-slider-lots__arrow span {
        flex: 0 0 50px;
    }
}

@media (max-width: 975px){
    /*Lots*/
    .info-lot__current-bet {
        flex: 0 0 auto;
    }

    .current-bet-info-lot {
        padding: 0px 10px;
    }
    /*Categories*/
    .categories__column {
        flex: 0 1 50%;
    }
    .categories__row::after {
        display: none;
    }
    .categories__row::before {
        left: 49.89%;
    }
    /*Services*/
    .services__column {
        flex: 0 1 50%;
    }
    /*Footer*/
    .footer__phone {
        font-size: 40px;
    }

    .footer__phone small {
        font-size: 20px;
    }
}

@media (max-width: 890px) {

    .action-header__user {
        margin: 0px 0px 0px 15px;
    }

    .actions-header__region {
        padding: 0;
    }

    .actions-header__region span{
        display: none;
    }

    .lot__title {
        margin: 0px 0px 20px;
    }
    /*Lots*/
    .current-bet-info-lot__value {
        font-size: 35px;
    }
}

@media (max-width: 650px){
    .categories__column {
        flex: 0 1 100%;
    }
    .categories__row::before {
        display: none;
    }
    /*Sevices*/
    .services__column {
        flex: 1 1 100%;
    }
    /*Quotes*/
    .quotes__header {
        margin: 0px 0px 20px 0px;
    }

    .slider-quotes__slide {
        display: block;
    }

    .slider-quotes__body {
        text-align: center;
        margin: 0px 0px 20px 0px;
    }
}

@media (max-width: 768px) {
    /*Burder menu*/
    .icon-menu {
        position: relative;
        width: 30px;
        height: 18px;
        cursor: pointer;
        z-index: 5;
    }
    
    .icon-menu span {
        transition: 0.4s;
        top: 49%;
        left: 0px;
        position: absolute;
        width: 100%;
        height: 2px;
        background-color: #bb9c66;
    }
    
    .icon-menu span:first-child {
        top: 0px;
    }
    
    .icon-menu span:last-child {
        top: auto;
        bottom: 0px;
    }

    ._krest span:first-child{
        transform: rotate(-45deg);
        top: 44%;
    }

    ._krest span:nth-child(2){
        display: none;
    }

    ._krest  span:last-child{
        transform: rotate(45deg);
        bottom: 45%;
    }
    /*Menu*/
    .menu__body {
        padding: 130px 0px 20px 0px;
        background-color: rgba(28, 36, 42, 0.94);
        position: fixed;
        width: 100%;
        height: 100%;
        left: 0;
        top: 0;
        overflow: auto;
        opacity: 0;
        visibility: hidden;
        transition: all 0.3s ease 0s;
        text-align: center;
    }

    .menu__body::after {
        content: "";
        background-color: #1c242a;
        position: fixed;
        top: 0;
        left: 0;
        height: 75px;
        width: 100%;
    }

    ._active {
        opacity: 1;
        visibility: visible;
    }

    .menu__list {
        display: block;
        text-align: center;
    }

    .menu__list li {
        margin: 0px 0px 30px 0px;
    }

    .menu__list li:last-child {
        margin: 0px;
    }

    .menu__link {
        font-size: 24px;
    }
    /*Menu logo*/

    .header__logo {
        position: absolute;
        left: 50%;
        top: 50%;
        transform: translate(-50%, -50%);
    }

    .header__container {
        justify-content: space-between;
    }

    .header__menu {
        flex: 0 0 auto;
    }
    /*User Menu*/

    .user-header__menu {
        width: 100%;
    }

    /*User Menu Region*/
    .actions-header__region-mobile {
        display: inline-block;
        font-size: 24px;
        margin: 30px 0px 0px 0px;
        text-align: center;
    }

    .actions-header__region-mobile span {
        display: inline-block;
    }
    .actions-header__region {
        display: none;
    }
    /*Title*/
    .title__main {
        font-size: 30px;
    }
    /*Decor title*/
    .block-decor__icon {
        flex: 0 0 95px;
    }
    /*Lots*/
    .lot__title {
        font-size: 18px;
    }
    /*Categories*/
    .categories {
        margin: 0px 0px 30px 0px;
    }

    .text-categories__body::before {
        display: none;
    }

    .text-categories__body {
        padding: 10px 0px 25px 0px;
        background: none;
    }

    .categories__items {
        margin: 0px 0px 0px 0px;
    }
    /*Quotes*/
    .quotes {
        padding: 35px 0px 35px 0px;
    }
    /*Info*/
    .info {
        padding: 0px 0px 35px 0px;
    }
    .info__row {
        display: block;
    }
    .info__column {
        margin: 0px 0px 30px 0px;
    }
    .title__info {
        margin: 0px 0px 15px 0px;
    }
    .info__item {
        margin: 0px 0px 15px 0px;
    }
    .subscribe__body {
        display: block;
        flex: 0 1 100%;
    }
    .subscribe__text {
        margin: 0px 0px 25px 0px;
    }
    /*Footer*/
    .footer__content {
        display: block;
        text-align: center;
    }
    .footer__list {
        justify-content: center;
        margin: 15px 7px 0px 7px;
    }
    .footer__contacts {
        align-items: center;
    }
    .footer__phone {
        margin: 0px 0px 10px 0px;
    }
    .big {
        display: none;
    }
    .small {
        display: block;
        margin: 10px 0px 0px 0px;
    }
    .footer__logo {
        margin: 0;
    }
}
